* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --text-grey: #939aa3;
  --green: #249f57;
  --background-hover: #38393b;
  --text-hover-grey: #c1c3c7;
  --background-hover-light: #404249;

  color-scheme: dark;
  background: #313338;
}

body {
  font-family: "Nunito Sans", "Space Grotesk", sans-serif;
}

svg {
  width: 24px;
  height: 24px;
  stroke-width: 2;
}

.container-grid {
  display: grid;
  grid-template: "nav messages header header" 50px "nav messages main aside" 1fr / 75px 240px 1200px 1fr;
  width: 100%;
  min-height: 100dvh;
}

/* NAV */

.nav-list {
  display: flex;
  grid-area: nav;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;

  width: 100%;
  height: 100dvh;
  padding: 10px 0;

  background-color: #1e1f22;
}

.icon-discord {
  width: 30px;
}

.container-discord-brand {
  position: relative;
  display: grid;
  place-items: center;
  width: 100%;
}

.container-discord-icon {
  position: relative;

  display: grid;
  place-items: center;

  width: 50px;
  height: 50px;
  padding: 5px;

  background: #5865f2;
  border-radius: 10px;
}

.discord-icon-border {
  position: absolute;
  left: -20px;

  width: 10px;
  height: 40px;

  background-color: #fff;
  border-radius: 10px;
}

.pop-up-nav {
  pointer-events: none;

  position: absolute;
  left: 74px;

  display: grid;
  place-items: center;

  width: max-content;
  max-width: 200px;
  padding: 10px;

  font-weight: bold;

  opacity: 0%;
  background-color: #000;
  border-radius: 10px;

  transition: opacity ease 0.5s;
}

.triangulo {
  position: absolute;
  left: -6px;

  width: 0;
  height: 0;

  border-top: 4px solid transparent;
  border-right: 6px solid #000;
  border-bottom: 4px solid transparent;
}

.notification-number {
  position: absolute;
  z-index: 10;
  right: -5px;
  bottom: -5px;

  display: grid;
  place-items: center;

  width: 25px;
  height: 25px;

  font-size: 13px;
  font-weight: bold;

  background-color: #f23f44;
  border: 5px solid #1e1f22;
  border-radius: 100%;
}

.container-discord-icon:hover .pop-up-nav {
  pointer-events: all;
  opacity: 100%;
}

.line-nav {
  width: 50%;
  margin: 0 auto;
  border-top: 1px solid #35363c;
}

.servers-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;

  height: 100%;
}

.servers-list > li {
  cursor: pointer;

  position: relative;

  /* overflow: hidden; */
  display: grid;
  place-items: center;

  width: 50px;
  height: 50px;
  margin: 0 auto;

  border-radius: 100%;

  transition: border-radius ease 0.3s;
}

.servers-list > li > img {
  width: 100%;
  height: 100%;

  object-fit: cover;
  border-radius: 100%;

  transition: border-radius ease 0.3s;
}

.servers-hover-border {
  position: absolute;
  left: -20px;
  transform: translateX(-100%);

  width: 10px;
  height: 40%;

  background-color: #fff;
  border-radius: 10px;

  transition: transform ease 0.5s;
}

.servers-list > li:hover .servers-hover-border {
  transform: translateX(0%);
}

.servers-list > li:hover,
.servers-list > li:hover > img {
  /* border-radius: 10px; */
  border-radius: 13px;
}

.servers-list > li:hover .pop-up-nav {
  opacity: 100%;
}

.icon-nav-special {
  background-color: #313338;
}

.icon-nav-special > svg {
  stroke: #249f57;
  transition: stroke ease 0.3s;
}

.icon-nav-special:hover {
  background-color: #249f57;
}

.icon-nav-special:hover > svg {
  stroke: #fff;
}

/* MESSAGES */
.messages-container {
  display: flex;
  grid-area: messages;
  flex-direction: column;

  width: 100%;
  height: 100%;

  background-color: #2b2d31;
}

.messages-header {
  display: grid;
  place-items: center;

  width: 100%;
  height: 50px;

  border-bottom: 1px solid #1e1f22;
}

.messages-search-input {
  width: 90%;
  padding: 5px;

  background-color: #1e1f22;
  border: none;
  border-radius: 5px;
  outline: none;
}

.messages-section {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  width: 100%;
  padding: 7px 0;
}

.messages-row {
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.messages-row-options {
  cursor: pointer;

  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;

  width: 90%;
  margin: 0 auto;
  padding: 10px;

  font-weight: bold;
  color: #939aa3;

  border-radius: 5px;
}

.messages-row-options path {
  fill: #939aa3;
}

.messages-row-options-active {
  color: #fff;
  background-color: #404249;
}

.messages-row-options-active path {
  fill: #fff;
}

.messages-row-options:hover {
  color: #c1c3c7;
  background-color: #38393b;
}

.messages-row-options:hover path {
  fill: #c1c3c7;
}

.messages-row-friends {
  user-select: none;
  width: 100%;
  color: #7c8985;
}

/* TODO: refactor this selectors for classnames???? */
.messages-row-friends > header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 90%;
  margin: 15px auto;
}

.messages-row-friends > header > h3 {
  font-size: 12px;
  font-weight: bold;
}

.messages-row-friends svg {
  stroke: #939aa3;
}

.messages-row-friends-icon {
  cursor: pointer;
  position: relative;
  display: grid;
  place-items: center;
}

.messages-row-friends-icon-popup {
  pointer-events: none;

  position: absolute;
  top: -36px;

  width: max-content;
  padding: 5px 10px;

  font-size: 14px;
  color: #fff;

  opacity: 0%;
  background-color: black;
  border-radius: 5px;

  transition: opacity ease 0.5s;
}

.messages-row-friends-icon:hover .messages-row-friends-icon-popup {
  pointer-events: all;
  opacity: 100%;
}

.messages-row-friends:hover {
  color: #ddd;
}

.messages-row-friends:hover svg {
  stroke: #ddd;
}

.messages-footer {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;

  padding: 3px 10px;

  background-color: #232428;
}

.messages-footer > * {
  cursor: pointer;
}

.messages-footer-userdata {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;

  width: 100%;
  height: 90%;
  padding: 5px;
  padding-left: 2px;

  border-radius: 5px;
}

.messages-footer-userdata:hover {
  background-color: #404249;
}

.messages-footer-image {
  position: relative;
  width: 40px;
  height: 40px;
}

.messages-footer-image > img {
  width: 100%;
  object-fit: cover;
  border-radius: 100%;
}

.messages-footer-image-online {
  position: absolute;
  z-index: 10;
  right: 0;
  bottom: 0;

  display: grid;
  place-items: center;

  width: 14px;
  height: 14px;

  background-color: #23a55a;
  border: 3px solid #232428;
  border-radius: 100%;
}

.messages-footer-user-name {
  font-size: 14px;
  font-weight: bold;
}

.messages-footer-user-state {
  font-size: 12px;
  color: #939aa3;
}

.messages-footer-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.messages-footer-icons-container {
  position: relative;

  display: grid;
  place-items: center;

  padding: 5px;

  border-radius: 5px;
}

.messages-footer-icons-container:hover {
  background-color: #404249;
}

.messages-footer-icons-popup {
  pointer-events: none;

  position: absolute;
  top: -42px;

  width: max-content;
  padding: 5px 10px;

  opacity: 0%;
  background-color: #000;
  border-radius: 5px;

  transition: opacity ease 0.5s;
}

.messages-footer-icons-container:hover .messages-footer-icons-popup {
  pointer-events: all;
  opacity: 100%;
}

.triangulo-bottom {
  position: absolute;
  bottom: -11px;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 0;
  height: 0;

  border-top: 8px solid #000;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}

/* HEADER */
.header-container {
  display: flex;
  grid-area: header;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 100%;
  padding: 0 20px;

  border-bottom: 1px solid #1e1f22;
}

.header-friends {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-evenly;

  height: 100%;

  font-weight: bold;
}

.header-friends-container {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-evenly;
}

.header-friends-container > svg {
  color: var(--text-grey);
}

.header-content-line {
  height: 40%;
  border-left: 1px solid #4d4e57;
}

.header-friends-list {
  cursor: pointer;

  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: space-evenly;

  font-size: 15px;
  color: var(--text-grey);
  list-style: none;
}

.header-friends-list > li {
  padding: 5px 7px;
  border-radius: 5px;
}

.header-friends-list > li:hover:not(.header-friends-list-green) {
  color: #ddd;
  background-color: var(--background-hover-light);
}

.header-friends-list-active {
  color: #eee;
  background-color: var(--background-hover-light);
}

.header-friends-list-green {
  color: #fff;
  background-color: #248046;
}

.header-content {
  cursor: pointer;

  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-evenly;

  height: 100%;

  color: var(--text-grey);
}

.header-content-discord {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-evenly;
}

.header-content svg:hover {
  color: #ddd;
}

.header-content-md {
  position: relative;
  display: grid;
  place-items: center;
}

.header-content-popup {
  pointer-events: none;

  position: absolute;
  bottom: -2.25rem;

  width: max-content;
  padding: 5px 10px;

  font-size: 14px;
  color: #fff;

  opacity: 0%;
  background-color: black;
  border-radius: 5px;

  transition: opacity ease 0.5s;
}

.header-content-icon-popup:hover + .header-content-popup {
  pointer-events: all;
  opacity: 100%;
}

.triangulo-top {
  position: absolute;
  top: -1px;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 0;
  height: 0;

  border-right: 6px solid transparent;
  border-bottom: 8px solid #000;
  border-left: 6px solid transparent;
}

/* SECTION */
.section-container {
  display: grid;
  grid-area: main;
  place-items: center;

  width: 100%;
  height: 100%;
}

/* ASIDE */
.aside-section {
  grid-area: aside;
  width: 100%;
  height: 100%;
}
